.App {
  text-align: center;
}

.contentContainer{
  display: flex;
  background-color: bisque;
}
.contentContainer>aside{
  background-color:grey;
  flex-shrink: 0;
  width: 230px;
  height:70vh
}
.articlesContainer>article{
  border: 1px black solid;
  width: 80vw;
  display: block;
}
.articlesContainer{
  padding-left: 20px;
}